@model List<Soup>

<form asp-action="BulkEditSoups" method="post">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="form-group">
            <label asp-for="@Model[i].SoupName"></label>
            <input asp-for="@Model[i].SoupName" class="form-control" />
            <span asp-validation-for="@Model[i].SoupName"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model[i].Price"></label>
            <input asp-for="@Model[i].Price" class="form-control" />
            <span asp-validation-for="@Model[i].Price"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model[i].ShortDescription"></label>
            <input asp-for="@Model[i].ShortDescription" class="form-control" />
            <span asp-validation-for="@Model[i].ShortDescription"></span>
        </div>
    }
    <button type="submit" class="btn btn-primary">Save</button>
</form>
