
@model Soup

<div class="p-2">
    <a asp-controller="Soup" asp-action="Details" asp-route-id="@Model.Id">@Model.SoupName</a>
    <h3>@Model.ShortDescription</h3>
    <h4>@Model.Category.CategoryName</h4>
    <div class="p-2">
        <p class="btn">
            <a class="btn btn-success"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-soupId="@Model.Id">Add To Cart</a>
        </p>
    </div>
</div>